$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  clear: both;
}

.container-narrow > hr {
  margin: 30px 0;
}

  /* Remove the padding we set earlier */
.header,
.footer {
    padding-left: 0;
    padding-right: 0;
}
/*每个电梯的样式*/
.one-elevator {
  width: 200px;
  float: left;
}
.elevator-btn,
.elevator-condition {
  float: left;
}
.elevator-condition {
  margin-left: 20px;
  width: 70px;
}
.elevator-number,
.elevator-floor,
.elevator-img {
  margin: 10px auto;
}

/*电梯上下按钮样式*/
.up-down {
  width: 107px;
  margin-bottom: 10px;
}
.button-up,
.button-down {
  width: 53px;
}
.group1,
.group2 {
  width: 50px;
}

/*电梯层数按钮样式*/
.floor-button {
  width: 107px;
}

.alarm-button {
  width: 107px;
  margin-top: 10px;
}






